@import "./variables";

.v-c-primary-2 {
  color: $c-bay-of-many;
}

.v-bg-primary-2 {
  background-color: $c-bay-of-many;
}

.v-c-light {
  color: $c-white;
}

.v-bg-light {
  background-color: $c-white;
}

.v-c-orange {
  color: $c-carrot-orange;
}

.v-bg-orange {
  background-color: $c-carrot-orange;
}

.v-c-text {
  color: $c-scorpion;
}

.v-bg-text {
  background-color: $c-scorpion;
}

.v-c-primary-3 {
  color: $c-bay-of-many;
}

.v-bg-primary-3 {
  background-color: $c-bay-of-many;
}

.v-c-info {
  color: $c-athens-gray;
}

.v-bg-info {
  background-color: $c-athens-gray;
}

.v-c-primary-1 {
  color: $c-malibu;
}

.v-bg-primary-1 {
  background-color: $c-malibu;
}

.v-c-primary-0 {
  color: $c-link-water;
}

.v-bg-primary-0 {
  background-color: $c-link-water;
}

.v-p-3 {
  padding: 12px;
}

.v-c-success {
  color: $c-sea-green;
}

.v-bg-success {
  background-color: $c-sea-green;
}

.v-c-primary-5 {
  color: $c-science-blue;
}

.v-bg-primary-5 {
  background-color: $c-science-blue;
}
