$c-bay-of-many: #2a388f;
$c-carrot-orange: #f39021;
$c-white: #ffffff;
$c-scorpion: #595959;
$c-oxford-blue: #3d4d5e;
$c-athens-gray: #f2f3f7;
$c-malibu: #81bbfa;
$c-link-water: #DDECF9;
$c-sea-green: #35944A;
$c-science-blue: #055AB9;
