<div class="header v-bg-primary-2">
  <div
    class="container-fluid d-flex align-items-center justify-content-between"
  >
    <div class="d-flex font-monospace">
      <div class="py-4 px-3">
        <img class="logo" src="assets/images/logo.png" alt="" />
      </div>
      <div class="d-flex align-items-center justify-content-between px-2 py-4">
        <span class="material-icons v-c-primary-1 fs-1">calendar_month</span>
        <div class="v-c-light ms-2">
          <strong>Giờ làm việc:</strong> Từ thứ 2 đến chủ nhật<br />
          <div>Từ 7h30 - 17h00 (Không nghỉ trưa)</div>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center fs-6 v-c-light px-3 fw-bold">
      <div class="d-flex align-items-center me-4">
        <span class="material-icons fs-3 v-c-primary-1">home</span>
        <div class="ms-2">TRANG CHỦ VNVC</div>
      </div>
      <div class="d-flex align-items-center me-4">
        <span class="material-icons fs-3 v-c-primary-1">verified_user</span>
        <div class="ms-2">DANH MỤC VẮC XIN</div>
      </div>
      <div class="d-flex align-items-center me-4">
        <span class="material-icons fs-3 v-c-primary-1">person_search</span>
        <div class="ms-2">TRA CỨU</div>
      </div>
      <div class="d-flex align-items-center me-4">
        <span class="material-icons fs-3 v-c-primary-1">event_note</span>
        <div class="ms-2">FAQ</div>
      </div>
    </div>
  </div>
</div>
