<div *ngIf="item" class="v-bg-light v-border-radius-19 v-p-3">
  <div class="v-bg-image p-3">
    <h3 class="v-text-uppercase v-2-line">{{ item.vaccineName }}</h3>
    <div class="v-c-text">Nguồn gốc: {{ item.source }}</div>
    <div class="v-c-text v-2-line">{{ item.prevention }}</div>
    <div class="mt-4 v-c-primary-2 d-flex -align-items-center fs-5">
      <span class="material-icons me-2"> sell </span>
      {{ handleConvertToVND(item.price) }}
    </div>
  </div>
  <div class="p-3">
    <div class="my-3">Phòng bệnh:</div>
    <p class="v-2-line">
      {{ item.preventionDescription }}
    </p>
    <button
      class="btn mt-4 v-c-light d-flex align-items-center justify-content-center w-100"
      [class]="item.isChoose ? 'v-bg-success' : 'v-bg-primary-2'"
      (click)="handleClickChoose()"
    >
      {{ item.isChoose ? "Đã chọn" : "Chọn" }}
      <mat-spinner
        *ngIf="item.isUpdating"
        color="warn"
        diameter="20"
        class="ms-2"
      ></mat-spinner>
    </button>
  </div>
</div>
