@import "~/src/assets/scss/index";

.vaccineStyle {
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  background-color: #fff;
}

.bg-image {
}

.vaccine-info {
  justify-content: space-between;
}

.vaccine-information-price {
  font-style: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.v-bg-image {
  background-image: url(https://vax.vnvc.vn/_nuxt/img/ImageVaccine_Item.e99c854.png);
  background-position: 50%;
  background-size: cover;
  border-radius: 12px;
  background-color: $c-link-water;
}

.v-2-line {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.v-4-line {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
